// student #1
$select-color: #8d81ac;
$accent-color: #fff;
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Lato', sans-serif;

// student #2
$priceListBackground: rgba(255, 255, 255, 0.11);
$priceListBackgroundOpacity: rgba(255, 255, 255, 0.1);
$revolutionaryBacgroundSvg: linear-gradient(360deg, #dee1e1 20%, #f4f4f4 50%);


